<%
var mainUrl = '/' + prInfo.base.owner + '/' + prInfo.base.repo + '/pull/' + prInfo.number;
%>
<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>
      <a href="<%= mainUrl %>">
        <%= prInfo.title %>
        <span class="text-muted">#<%= prInfo.number %></span>
      </a>
    </h1>
  </div>
</header>
