<%
var mainUrl = '/' + prInfo.base.owner + '/' + prInfo.base.repo + '/pull/' + prInfo.number;
%>
<header class="header">
  <style scoped>
    .number-header {
      font-weight: normal;
      color: rgb(210, 210, 210);
    }
  </style>
  <h1 class="container"><a href="<%= mainUrl %>"><%= prInfo.title %> <span class="number-header">#<%= prInfo.number %></span></a></h1>
</header>
